<div class="main-container">
	<div class="notice-container" *ngIf="NoticeData.length>0">
		<div class="main">
			<div class="heading">
				<app-button-cmp1 [Text]="title"></app-button-cmp1>
			</div>
			<div class="info-container" *ngFor="let item of NoticeData">
				<!-- 1st row -->
				<div class="data" *ngIf="item.routeLink">
					<a href="#" target="_blank">
						<div class="iner-data">
							<p class="notice-name">{{item.noticeName}}</p>
							<span class="date">12 DEC 2022</span>
						</div>
						<p>{{item.noticeDes}}</p>
					</a>
				</div>

				<div class="data" *ngIf="!item.routeLink">

				</div>
			</div>
		</div>
	</div>

	<div class="notice-container" *ngIf="NoticeData.length>0">
		<div class="main">
			<div class="heading">
				<app-button-cmp1 [Text]="title"></app-button-cmp1>
			</div>
			<div class="info-container" *ngFor="let item of NoticeData">
				<!-- 1st row -->
				<div class="data" *ngIf="item.routeLink">
					<a href="#" target="_blank">
						<div class="iner-data">
							<p class="notice-name">{{item.noticeName}}</p>
							<span class="date">12 DEC 2022</span>
						</div>
						<p>{{item.noticeDes}}</p>
					</a>
				</div>

				<div class="data" *ngIf="!item.routeLink">

				</div>
			</div>
		</div>
	</div>
</div>